{% load cms_tags sekizai_tags %}
<html>
<head>
    {% render_block "css" %}
</head>
<body>
    {% cms_toolbar %}
    {% placeholder "content" %}
    {% render_block "js" %}
    <div class="swiper hero-slider">
    <div class="swiper-wrapper">
        {% placeholder "slider_content" %}
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-pagination"></div>
</div>
{% addtoblock "js" %}
    <script>
        const swiper = new Swiper('.hero-slider', {
            loop: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    </script>
{% endaddtoblock %}
</body>
</html>